<!DOCTYPE html>
<html>
<head>
  <title>FlatironKitchen</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <%= button_to "Ingredients", ingredients_path, method: :get %>
    <%= button_to "Recipes", recipes_path, method: :get %>
  </div>
<%= yield %>

</body>
</html>
